/* canvas {
    background-color: black; //for white text
    font-family: myFont; //necessary
} */

#load {
    font-family: myFont; /*necessary to load font with div*/
    visibility: hidden; /*makes div invisible but the div element forces the text to load before the canvas.*/
    height: 0px;
}

@font-face {
    font-family: PixelFont;
    /* src: url('./js/Engine/Assets/Fonts/VCR_OSD_MONO_1_001.ttf'); */
    src: url(./js/Engine/Assets/Fonts/myFont2.ttf) format('truetype');
}