input[id^='id_range_'] {
    height: 15px;
    width: 370px;
    /* color: red; */
    -webkit-appearance: none;
    overflow: hidden;
    background: #434343;
    border-radius: 6px;
}

input[id^='id_range_']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: green;
    margin-top: -1px;
}

input[id^='id_range_']::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 0px;
    cursor: ew-resize;
    /* background: #434343; */
    box-shadow: -370px 0 0 370px green;
}


/** FF*/
input[id^='id_range_']::-moz-range-progress {
    background-color: #43e5f7;
}

input[id^='id_range_']::-moz-range-track {
    background-color: #9a905d;
}

/* IE*/
input[id^='id_range_']::-ms-fill-lower {
    background-color: #43e5f7;
}

input[id^='id_range_']::-ms-fill-upper {
    background-color: #9a905d;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 40%;
    border-color: black;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #3477ff;
}

input[name^='not_used_']:checked {
    background-color: #d10;
}

label {
    margin-left: 10px;
    margin-right: 10px;
}

span.elementitem {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-top: 10px;
}

span.elementitem:hover {
    background-color: #ddd;
}

span.elementitem label {
    /* display: inline-flex; */
    max-width: 350px;
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted black;
    cursor: help;
}

.tooltip .tooltiptext {
    display: none;
    max-width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    margin-left: 10px;

    /* Position the tooltip */
    position: fixed;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    display: block;
    padding: 10px;
}

#elements-container {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

div.elementsgroup{
    margin-left: 20px;
}